header.TopNav.u-full-width
  nav
    ul.TopNav-links
      +linkList("TopNav-li", "/#work", "_self", "work")  
      +linkList("TopNav-li", "/#process", "_self", "process")  
      +linkList("TopNav-li", "/#contact", "_self", "contact")  
      +linkList("TopNav-li", "/#mission", "_self", "mission")

    include ../partials/top-nav-logo