svg(width="40", height="40", class="ByldanWork")
    rect(x="0", y="28", height="12", width="12")
    rect(x="14", y="28", height="12", width="12")
    rect(x="28", y="28", height="12", width="12")
    rect(x="7", y="14", height="12", width="12")
    rect(x="21", y="14", height="12", width="12")
    rect(x="14", y="0", height="12", width="12")
