.ByldanLogo {
	&-link,
	&:hover {
		color: $almost-black !important;
	}

	&--in-page,
	&--nav {
		margin-right: 0;
		rect {
			fill: $tomato;
		}
	}

	&--nav {
		position: relative;
		margin-right: 7px;
	    top: 7px;
	}
}