.Footer {
	background: $white;
	overflow: hidden;
	padding: 6rem 1rem;

	&--fixed {
	    position: fixed;
	    bottom: 0;
	    background: $brightmintcream;
	    right: 0;
	    left: 0;
	    text-align: center;
	    padding-top: 1rem;
	}
}