.Section {
	padding-top: 6rem;
	padding-bottom: 4rem;
	width: 100%;
	max-width: 100%;

	&-content {
		float: none;
		max-width: 860px;
		margin: 0 auto;
	}

	&-heading {
		font-size: $normal-font;
		letter-spacing: 1.5px;
		margin-bottom: 2rem;
		margin-top: 0.5rem;
	}

	&-blockquote {
    	margin-bottom: 4rem;
    	text-align: left;
    	border-color: $transparent-gray;
	}

	&-form {
		> * {
	    	margin-bottom: 2rem;
		}

		input, 
		textarea,
		label {
		    border: 0;
		    color: $almost-gray;
		    width: 67%;
		    padding: 1rem;

		    @media handheld, screen and (max-width: $mobile-max) {
		    	width: 95%;
		    }
		}

		label {
		    text-align: left;
		    display: block;
	        margin: 0 auto;
	    	font-weight: 500;
		}

		textarea {
		    resize: vertical;
		}

		input[data-form-type="hidden"] {
	    	display: none;
		}
	}

	&-text {
		font-size: $a-touch-above-normal;
		text-align: left;
	}

	&-calloutText {
		margin: 3rem 0;
	}
	
	&--intro{
		padding-top: 7rem;
		padding-bottom: 4rem;
		background: $white;

		&-p {
			font-size: $larger-font;
			font-weight: bold;
			font-family: $display-font;
			line-height: $snug-lineheight;
			color: $almost-black;

			@media handheld, screen and (max-width: $mobile-max) {
		    	font-size: $one-half-x-normal;
		    }
		}

		&-text {
			font-size: $a-touch-above-normal;
		}

		@media handheld, screen and (max-width: $mobile-max) {
			padding-top: 4rem;
			margin-top: 0;
		}
	}
}