.u-center {
	text-align: center;	
}

.u-full-width {
	padding: 0 4rem;
}

.u-bq-author {
    display: block;
    font-size: $small-font;
    margin-top: 1rem;
}

.u-theme {
	background-color: $mintcream;
	color: #111;
	letter-spacing: .5px;
	font-family: monospace;
	text-align: center;
	padding-bottom: 4rem;
}