.u-center {
	text-align: center;	
}

.u-full-width {
	padding: 0 4rem;
}

.u-bq-author {
    display: block;
    font-size: $small-font;
    margin-top: 1rem;
    color: inherit;
}

.u-theme {
	background-color: $mintcream;
	color: $almost-gray;
	letter-spacing: .5px;
	font-family: monospace;
	text-align: center;
	padding-bottom: 0;
}

.u-red {
	color: $red;
}

.u-blue {
	color: $royalblue;
}

.u-highlight {
	background: $white;
	padding: 0.25rem 0.75rem;
}