// colors
$almost-black: #111;
$almost-gray: #444;
$tomato: tomato;
$red: #ff0000;
$royalblue: #5d80ea;
$lightblue: #7596fb;
$gold: gold;
$white: #fff;
$mintcream: mintcream;
$brightmintcream: #d0ffe6;
$lightest-blue: #f1fdff;
$azure: azure;
$honeydew: honeydew;
$seashell: seashell;

// fonts
$display-font: "Arimo", sans-serif;

// font sizes
$base-font-size: 16px;
$small-font: 0.85rem;
$normal-font: 1rem;
$a-touch-above-normal: 1.15rem;
$two-x-normal: 2rem;
$large-font: 2.5rem;
$larger-font: 2.7rem;
$extra-large-font: 3.5rem;

// lineheight
$snug-lineheight: 1.2;

// breakpoints
$mobile-max: 768px;