// colors
$almost-black: #111;
$tomato: tomato;
$royalblue: royalblue;
$gold: gold;
$white: #fff;
$mintcream: mintcream;

// fonts
$display-font: "Arimo", sans-serif;

// font sizes
$base-font-size: 16px;
$small-font: 0.85rem;
$normal-font: 1rem;
$extra-large-font: 3.5rem;

// lineheight
$snug-lineheight: 1.2;