
/*.center {
    text-align: center;
}*/

/*.button {
    background: royalblue;
    border: 0;
    color: #fff;
    padding: .5rem 2rem;
    transition: all .1s ease-in-out;
}*/

/*.button:hover {
    background: tomato;
    transition: all .1s ease-in-out;
}*/

/*blockquote {
    margin-bottom: 4rem;
}*/

/*.byldan-logo-link {
    color: #111;
}

section.container {
    margin-bottom: 6rem;
}

.byldan-logo-link .byldan-logo,
.byldan-logo {
    transform: rotate(45deg);
    display: inline-block;
    top: 20px;
    width: 20px;
    height: 20px;
    background-color: tomato;
    margin-right: 15px;
}*/

/*.byldan-work {
    vertical-align: bottom;
    display: inline-block;
    width: 27px;
}

.byldan-work span {
    background-color: tomato;
    width: 8px;
    height: 8px;
    display: block;
    float: left;
    margin: 1px;
    margin-top: 0;
}

.byldan-work span:first-child {
    position: relative;
    left: 10px;
}

.byldan-work span:first-child + span, 
.byldan-work span:first-child + span + span {
    visibility: hidden;
}

.byldan-work span:first-child + span + span + span,
.byldan-work span:first-child + span + span + span + span {
    position: relative;
    left: 5px;
}

.byldan-work span:first-child + span + span + span + span + span {
    background-color: transparent;   
}

.byldan-work span,
section .byldan-logo {
    margin-right: 0;
}*/

/*.byldan-contact {
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid tomato;
  display: inline-block;
}*/

/*.byldan-process {
    border-radius: 16px;
    border: 3px solid tomato;
    width: 32px;
    height: 32px;
    display: inline-block;
}*/

/*.byldan-logo-link:hover {
    color: #111;
}*/

/*body {
    background-color: mintcream;
    color: #111;
    letter-spacing: .5px;
    font-family: monospace;
    text-align: center;
    padding-bottom: 4rem;
}*/

/*.container {
    max-width: 800px;
    margin: 0 auto;
}

.full-width {
    padding: 0 4rem;
}*/

/*.top-nav {
    text-align: left;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    top: 0;
}

.top-nav h1 a,
h2 {
    
    font-family: "Arimo", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.top-nav-links {
    float: right;
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 0;
}

.top-nav-links li {
    display: inline-block;
    vertical-align: middle;
    padding: 0 1rem;
}

.top-nav-links li a {
    font-family: "Arimo", sans-serif;
    color: #111;
}

.top-nav h1 {
    display: inline-block;
}

.top-nav h1 a {
    transition: all .1s ease-in-out;
    text-decoration: none;
}*/

/*h2 {
    font-size: 1rem;
    letter-spacing: 1.5px;
    margin-bottom: 2rem;
}*/


/*.intro {
    margin-top: 7rem;
}

.intro p {
    font-size: 3.5rem;
    font-weight: bold;
    font-family: "Arimo", sans-serif;
    line-height: 1.2;
}*/

/*a {
    color: royalblue;
    text-decoration: none !important;
    font-weight: 600;
    transition: all .1s ease-in-out;
}*/

/*a:hover,
.top-nav-links a:hover {
    text-decoration: none;
    color: tomato;
    transition: all .1s ease-in-out;
}

section,
.top-nav {
    margin-bottom: 3rem;
}*/

/*@media handheld, screen and (max-width: 960px) {
    html {
        font-size: 14px;
    }
    .top-nav h1 a {
        font-size: 32px;
    }
}

@media handheld, screen and (max-width: 768px) {
    html {
        font-size: 13px;
    }
    .top-nav h1 a {
        font-size: 32px;
    }
    .intro p {
        font-size: 2rem;
    }
    .full-width {
        padding: 0 .5rem;
    }
    .top-nav {
        text-align: center;
        position: static;
    }
    .top-nav-links {
        float: none;
    }
    .top-nav-links li {
        padding: 0 .5rem;
    }
}*/

/*::-moz-selection { 
    background: gold;
}

::selection {
    background: gold;
}*/