extends templates/layouts/global

block main
	+introSection("images/masthead-drawing-contrast.png", "byldan is a design consultancy beholden to simplicity, elegance & tact.")
	+section("u-bkgr-azure", "work", "pyramid-block", "work", "Perfection is achieved, not when there is nothing left to add, but when there is nothing left to remove.", "Antoine de Saint-Exupéry")
	+section("", "process", "circle", "process", "Great things are done by a series of small things brought together.", "Vincent Van Gogh")
	+section("u-bkgr-pale-yellow", "contact", "upside-down-triangle", "contact", "Send over your spurrings, questions & whatever you like below.", "contact")
	+section("u-bkgr-seashell", "mission", "logo", "mission", "Fortune favors the audacious.", "Desiderius Erasmus", ["byldan's mission is to create & purvey high-quality design for artistics, educationalists, gastronomes, capitalists, melody makers, happenings & others!"])