extends templates/layouts/global

block main
	+introSection("websites & apps beholden to simplicity, elegance & tact.")
	+section("work", "pyramid-block", "work", "Perfection is achieved, not when there is nothing left to add, but when there is nothing left to remove.", "Antoine de Saint-Exupéry")
	+section("process", "circle", "process", "Great things are done by a series of small things brought together.", "Vincent Van Gogh")
	+section("contact", "upside-down-triangle", "contact", "Send over your spurrings, questions & whatever you like below.", "contact")
	+section("mission", "logo", "mission", "Fortune favors the audacious.", "Desiderius Erasmus", ["Byldan's mission is to create & purvey <span class=\"u-highlight\"><span class=\"u-red\">American</span>-<span class=\"u-blue\">made</span></span>, high-quality websites & software for artistics, educationalists, gastronomes, capitalists, melody makers, happenings & others!"])