extends templates/layouts/global

block main
	+introSection("thank you!", "I'll be sure to reach out shortly.")
	+section("", "logo", "thanks", "Don't be afraid to give up the good to go for the great.", "John D. Rockefeller")